.aboutpage {
  padding: $spacing-large;
  margin: 0 auto;
  max-width: $max-page-width;

  &--header {
    border-bottom: 3px dashed $color-secondary;
    color: $color-dark;
    flex-basis: 100%;
    font-size: $fontsize-large;
    margin-bottom: $spacing-medium;
  }

  &--top-info {
    margin: 0;

    & .pointer-up {
      @media (min-width: 700px) {
        display: none;
      }
    }

    & .pointer-left {
      display: none;

      @media (min-width: 700px) {
        display: inline-block;
      }
    }

    @media (min-width: 700px) {
      margin: 0 $spacing-large;
    }
  }

  &--top-section {
    display: flex;
    flex-wrap: wrap;

    @media (min-width: 700px) {
      flex-wrap: nowrap;
    }
  }
}