.and-owns-a-suit-page {
  & .block-list--block {
    h3 {
      display: flex;
      margin-bottom: 0;
    }

    & .title {
      line-height: 1.2;
    }

    & .year {
      line-height: 1.2;
      margin: 0 0 $spacing-small 0;
    }
  }

  & .hero {
    height: 18rem;

    & [aria-label="envelope"] {
      margin-right: 5px;
    }

    @media (min-width: 700px) {
      height: 25rem;
    }
  }

  & .professional-writing {
    background-color: $color-dark;

    & .top-content--header {
      color: $color-light;
    }
  }

  & .resume-link {
    box-sizing: border-box;
    display: block;
    margin: $spacing-large 0;
    width: 100%;
  }

  & .top-content {
    padding: $spacing-medium;

    &--header {
      border-bottom: 3px dashed $color-secondary;
      color: $color-dark;
      flex-basis: 100%;
      font-size: $fontsize-large;
      margin-bottom: $spacing-medium;
      margin-top: $spacing-large;
    }

    @media (min-width: $max-page-width) {
      padding: $spacing-small calc((100vw - #{$max-page-width}) / 2);
    }
  }

  & .category-list {
    align-items: center;
    display: flex;

    & li {
      color: $color-light;
      display: inline-block;
      font-size: 1rem;
      margin-left: $spacing-small;
      padding: $spacing-xsmall;

      &.community {
        background-color: $color-secondary;
      }

      &.work {
        background-color: $color-primary;
      }
    }
  }

  & .current-status {
    &--block:last-child {
      text-align: right;
    }

    &--container {
      display: flex;
      justify-content: space-between;
      margin-bottom: $spacing-small;
    }
  }

  & .thrive-list {
    padding-left: 20px;

    & li {
      list-style-type: square;
    }
  }
}
