/******** COLORS ********/
$color-dark: #1D1F20;
$color-gray: darkgray;
$color-primary: #485DA6;
$color-secondary: #6d327c;
$color-highlight: #36C486;
$color-light: white;
$gradient-border: linear-gradient(60deg,#6d327c, #485DA6, #00a1ba, #00BF98, #36C486);
$gradient-button: linear-gradient(to right top, $color-primary, $color-secondary);
$gradient-button-hover: linear-gradient(to right top, $color-secondary, $color-primary);
$gradient-hero: linear-gradient(to right top, #6d327c, #485DA6, #00a1ba, #00BF98, #36C486);

/******** TYPOGRAPHY ********/
$fontsize-xsmall: 15px;
$fontsize-small: 20px;
$fontsize-medium: 30px;
$fontsize-large: 45px;
$fontsize-xlarge: 60px;

/******** SITEWIDE HEADER ********/
$header-border-width: 1rem;

@mixin header-height() {
  height: 6rem;

  @media (min-width: 500px) {
    height: 6rem;
  }

  @media (min-width: 700px) {
    height: 7rem;
  }

  @media (min-width: 1000px) {
    height: 8rem;
  }
}

/******** SITEWIDE FOOTER ********/
$footer-height: 6rem;

/******** SPACING ********/
$spacing-small: 0.5rem;
$spacing-medium: 1.5rem;
$spacing-large: 2.5rem;
$spacing-xlarge: 5rem;

/******** MISC ********/
$max-page-width: 1300px;
