.blog-four-up {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin: $spacing-large auto 0 auto;
  padding: $spacing-medium;
  width: 100%;

  &--description {
    color: $color-light;
  }

  &--header {
    border-bottom: 3px dashed $color-secondary;
    color: $color-dark;
    flex-basis: 100%;
    font-size: $fontsize-large;
    margin-bottom: $spacing-large;

    &.light {
      color: $color-light;
    }
  }

  & .blog-preview--image {
    height: 20rem;
  }

  &--blog-list {
    align-items: center;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
  }

  & .button {
    margin-top: $spacing-large;
    width: 31%;
  }

  & .blog-listing {
    width: 40%;
  }

  & .post-social {
    & .button {
      width: 20px;
    }
  }
}