.button {
  background: none;
  border: 10px solid;
  border-image-slice: 1;
  border-image-source: $gradient-button;
  border-width: 5px;
  box-sizing: border-box;
  color: $color-primary;
  font-size: $fontsize-small;
  padding: 1rem 2rem;
  text-align: center;
  width: 100%;

  @media (min-width: 700px) {
    width: 18rem;
  }

  @media (min-width: 800px) {
    font-size: $fontsize-medium;
  }

  &:hover {
    background-color: $gradient-button;
    background-image: $gradient-button;
    color: white;
    text-decoration: none;
  }

  &.highlighted {
    background-color: $gradient-button;
    background-image: $gradient-button;
    color: white;
    text-decoration: none;

    &:hover {
      background: none;
      color: $color-primary;
    }
  }
}