.footer{
  align-items: center;
  background-color: $color-dark;
  border-top: 1px solid $color-primary;
  bottom: 0;
  display: flex;
  height: $footer-height;
  justify-content: center;
  padding: $spacing-small;

  & p {
    color: $color-light;
    margin: 0;
  }
}
