.hero {
  align-content: center;
  background-image: $gradient-hero;
  color: $color-light;
  display: flex;
  height: 100vh;
  flex-wrap: wrap;

  &--header {
    flex-basis: 100%;
    margin-bottom: $spacing-medium;
    text-align: center;
    text-shadow: 1px 2px 0px $color-dark;

    @media (min-width: 600px) {
      text-shadow: 2px 3px 0px $color-dark;
    }

    @media (min-width: 1000px) {
      text-shadow: 3px 4px 0px $color-dark;
    }
  }

  &--sub-header {
    flex-basis: 100%;
    line-height: 1.4;
    margin-top: $spacing-small;
    text-align: center;
    text-shadow: 1px 2px 0px $color-dark;

    @media (min-width: 600px) {
      text-shadow: 2px 3px 0px $color-dark;
    }

    @media (min-width: 1000px) {
      text-shadow: 3px 4px 0px $color-dark;
    }
  }

  & .site-header {
    background-color: transparent;
    border-width: 0;
    position: absolute;
    top: 0;
  }
}
