.title-with-selections {
  display: block;
  margin: $spacing-xlarge auto;

  &--header {
    font-size: $fontsize-large;
    margin-bottom: 25px;
    text-align: center;
  }

  & .selections-container {
    display: flex;
    justify-content: space-around;
    margin: 0 auto;
    max-width: 80vw;
    width: 100%;
  }
}
