/******** COLORS ********/
$color-dark: #1D1F20;
$color-gray: darkgray;
$color-primary: #07b39b;
$color-light: white;
$gradient-border: linear-gradient(60deg, #f79533, #f37055, #ef4e7b, #a166ab, #5073b8, #1098ad, #07b39b, #6fba82);
$gradient-button: linear-gradient(to right, #07b39b, #1098ad);

/******** FONTS ********/
$fontsize-xsmall: 15px;
$fontsize-small: 20px;
$fontsize-medium: 25px;
$fontsize-large: 45px;
$fontsize-xlarge: 60px;

/******** SITEWIDE HEADER ********/
$header-border-width: 1rem;
$header-height: 8rem;

/******** SITEWIDE FOOTER ********/
$footer-height: 6rem;

/******** SPACING ********/
$spacing-standard: 1.5rem;
$spacing-large: 2.5rem;

/******** MISC ********/