.blog-post {
  background-color: $color-dark;
  color: $color-light;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding: $spacing-medium calc((100vw - #{$max-page-width}) / 2);

  & .entry-media {
    flex-basis: 100%;
    width: 100%;
  }

  & .post-content {
    padding: $spacing-medium;
  }

  & #disqus_thread {
    width: 100%;
  }
}